<h1>Listing posts</h1>

<table data-bind="visible: posts().length > 0">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody data-bind = "foreach: posts">
      <tr>
        <td data-bind="text: name, click: $root.showPost"></td>
        <td data-bind="click: $root.editPost">Edit</td>
      </tr>
  </tbody>

</table>

<p data-bind="visible: posts().length == 0">
  No data yet, create it!
</p>

<br />

<form data-bind="submit: addPost">
    Title: <input data-bind="value: newPostTitle" placeholder="Create a posts" />
    Body:  <input data-bind="value: newPostBody" />
    <button type="submit">Add</button>
</form>

<form data-bind="submit: update, with: chosenPostToEdit">
    <input data-bind="value: id" />
    Title: <input data-bind="value: name" />
    Body:  <input data-bind="value: body" />
    <button type="submit">Edit</button>
</form>

<div class="viewPost" data-bind="with: chosenPostData">
    <div class="postInfo">
        <h1 data-bind="text: name"></h1>
    </div>
    <p class="body" data-bind="html: body" />
</div>
