<h1>Listing posts</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tbody data-bind="foreach: posts, visible: posts().length > 0">
      <tr>
        <td data-bind="text: name"></td>
      </tr>
  </tbody>

</table>

<br />

<%= link_to 'New Post', new_post_path %>
