<h1>Listing posts</h1>

<table data-bind="visible: posts().length > 0">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tbody data-bind="foreach: posts">
      <tr>
        <td data-bind="text: name"></td>
      </tr>
  </tbody>

</table>

<p data-bind="visible: posts().length == 0">
  No data yet, create it!
</p>

<br />

<form data-bind="submit: addPost">
    Add post: <input data-bind="value: newPostText" placeholder="Create a posts" />
    <button type="submit">Add</button>
</form>

<%= link_to 'New Post', new_post_path %>
